*.nii.gz
*.nii
*.html
*.json

bids/**/.*
bids/**/*.tsv

derivatives/fmriprep*
derivatives/tedana*
derivatives/warpkit
logs/

!bids/*.json
!bids/participants.tsv
!bids/sub-*/ses-*/func/*events.tsv

!code/
!code/**
code/hpc_output
!.gitignore
